<div id="container">
    <h1>Add ToDo List</h1>
    <div id="input">
      <input type="text" name="" id="inputField" placeholder="*ngFor Complete" [(ngModel)]="inputField" (keyup)="onKey($event)">
  
      <button type="submit" id="submitButton" (click)="submit()" [disabled]="disable">Add List</button>
    </div>
    <div *ngIf="temp;">
      <div *ngFor="let li of todolist | slice:1; let i=index" id="output">
          <p id="task" (click)="remove(li)">{{li}}</p>
      </div>
    </div>
  </div>
  <input [(ngModel)]="inputvalue"><br>
  <button type="submit" (click)="sumit()">Add</button>
  <div *ngIf="tem;">
  <div *ngFor="let ki of list">
   <p>{{ki}}</p>
  </div>
  </div>

